<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-EntityFrameworkExamples-20151010020327.mdf;Initial Catalog=aspnet-EntityFrameworkExamples-20151010020327;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolConn" connectionString="Data Source=ALEX-PC;Initial Catalog=School;User Id=Alex;Password=dinosaur" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
